<div *ngIf="!isLoggedIn">
  <div *ngIf="orderedBooks.length != 0">
    <div *ngFor="let book of orderedBooks" class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="book.image" alt="{{ book.title }} Cover" class="img-fluid" style="max-height: 200px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.author }}</p>
            <div class="mb-3">
              <label class="form-label">Rating:</label>
              <!-- Display clickable stars for rating -->
              <span class="star" *ngFor="let i of [1, 2, 3, 4, 5]" (click)="setRating(book, i)">
            {{ i <= book.rating ? '&#9733;' : '&#9734;' }}
          </span>
            </div>
            <div class="mb-3">
              <label for="feedback" class="form-label">Feedback:</label>
              <textarea id="feedback" name="feedback" [(ngModel)]="book.feedback" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <button [disabled]="isSubmitDisabled(book)" (click)="submitFeedback(book.id, book.rating, book.feedback)" class="btn btn-primary">Submit Feedback</button>
    </div>
  </div>
  <div *ngIf="orderedBooks.length == 0">
    <p>You haven't ordered any books</p>
  </div>
</div>
<div *ngIf="!isLoggedIn">
  <p>Please log in to provide feedback.</p>
</div>

