<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #97704f !important;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" style="font-family: cursive; color: azure">
      <img src="/assets/images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block">
      The Miracles Bookshop
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li id="home" class="nav-item" routerLinkActive="true">
          <a class="nav-link active" style="color: #e5d3b3" aria-current="page" routerLink="/" >
            <i class="bi-house icon-white"></i> Home</a>
        </li>
        <li id="search" class="nav-item" routerLinkActive="true">
          <a class="nav-link active" style="color: #e5d3b3" aria-current="page" routerLink="/the-miracles-bookshop/search" >
            <i class="bi-book icon-white"></i> Search for Book</a>
        </li>
        <li id="contact" class="nav-item" routerLinkActive="true">
          <a class=" nav-link active" style="color: #e5d3b3" aria-current="page" routerLink="/the-miracles-bookshop/contact-us" >
            <i class="bi-phone icon-white"></i> Contact Us</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="true">
            <button class="btn btn-outline" aria-current="page" routerLink="/" >
              <i class="bi-bag icon-white"></i>
            </button>
          </li>
          <li class="nav-item" routerLinkActive="true">
            <button type="button" class="btn btn-outline" data-bs-toggle="modal" data-bs-target="#login">
              <i class="bi-person icon-white"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <app-user-login></app-user-login>
    </div>
  </div>
</div>
