<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #97704f !important;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block">
      The Miracles Bookshop
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item" routerLinkActive="true">
          <a class="nav-link active" style="color: #e5d3b3" aria-current="page" routerLink="/" >
            <i class="bi-house icon-white"></i> Home</a>
        </li>
        <li class="nav-item" routerLinkActive="true">
          <a class="nav-link active" style="color: #e5d3b3" aria-current="page" routerLink="/the-miracles-bookshop/search" >
            <i class="bi-book icon-white"></i> Search for Book</a>
        </li>
        <li class="nav-item" routerLinkActive="true">
          <a class=" nav-link active" style="color: #e5d3b3" aria-current="page" routerLink="/the-miracles-bookshop/contact-us" >
            <i class="bi-phone icon-white"></i> Contact Us</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="true">
            <a class="nav-link active" aria-current="page" routerLink="/" >
              <i class="bi-bag icon-white"></i>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="true">
            <a class="nav-link active" aria-current="page" routerLink="/" >
              <i class="bi-person icon-white"></i>
            </a>
          </li>
        </ul>
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn" style="color: white"><i class="bi bi-search" style="color: white; font-size: large"></i></button>-->
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
