<div style="display: flex; justify-content: center; padding-top: 3%">
  <img src="/assets/images/logo.png" alt="Logo" width="324" height="295" >
</div>

<div class="border border-2 rounded description">
  <p class="text-center text-body-emphasis">
    Welcome to our online bookstore, where literary adventures await! <br>
    Explore a carefully curated collection of classics and bestsellers across diverse genres.
    Our user-friendly website makes discovering new books a breeze, with personalized recommendations and themed collections.
    Enjoy a seamless shopping experience, secure transactions, and join our community of book enthusiasts.
    Dive into a world of stories with just a click—your next literary escape is a scroll away. <br>
    Happy reading!
  </p>
</div>

<div class="button-box">
  <button class="border border-2 rounded button-style"  routerLink="/the-miracles-bookshop/search">
    <div>
      <p style="color: white">Click here to search for a book</p>
      <span class="bi-arrow-right" style="color: white"></span>
    </div>
  </button>
</div>

