.brown-theme {
  background-color: #e5d3b3; /* Dark brown background */
  color: #fff; /* White text color */
}

.btn-brown {
  background-color: #97704f; /* Brown button color */
  border: 1px solid #5d4037; /* Dark brown border for buttons */
}

.btn-brown:hover {
  background-color: #97704f; /* Darker brown color on hover for buttons */
  border: 1px solid #4e342e; /* Darker brown border on hover for buttons */
}

.btn-brown:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Brown shadow when button is focused */
}

.nav-pills .nav-link.active {
  background-color: #97704f; /* Dark brown background for active tab */
  color: #fff; /* White text color for active tab */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Brown shadow when tab is active */
}

.nav-pills .nav-link:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Brown shadow when tab is focused */
}



